@use '/styles/base/variable';
@use '/styles/mixins/position';

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  &.bar {
    @include position.absolute(0 auto 0 23px);
    width: 30%;
    margin: 20px 0;
    background-color: variable.$BG-003;
    border-radius: 10px;
    z-index: -1;
  }

  .tit-wrap {
    display: flex;
    align-items: center;
    width: 73%;

    .rank-img {
      width: 20px;
      flex-shrink: 0;
    }

    .menu-name {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-left: 9px;
      font-size: variable.$FS-14;
      color: variable.$TXT-003;
      word-break: keep-all;
      line-height: 1.2;
      overflow: hidden;
      text-overflow: ellipsis;

      &.active {
        font-weight: bold;
        color: variable.$TXT-002;
      }
    }
  }

  .img-wrap {
    display: block;
    text-align: end;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .total-count {
    @include position.absolute(auto 50% 2px auto);
    transform: translateX(50%);
    display: inline-block;
    margin-top: 5px;
    padding: 2px 5px;
    background-color: variable.$POINT2;
    border-radius: 4px;
    font-size: variable.$FS-12;
    color: variable.$TXT-005;
  }
}
