@use '/styles/base/variable';
@use '/styles/mixins/position';

.wrap {
  background-color: variable.$BG-003;
  padding: 20px 56px 56px;

  h1 {
    margin-bottom: 13px;
    font-size: 22px;
    font-weight: bold;
    color: variable.$TXT-002;
  }

  .menu-wrap {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 25px;
    background-color: variable.$BG-001;
    border-radius: 20px;

    .tab-wrap {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      column-gap: 10px;
      padding: 0 20px;
      border-radius: 7px;
      background-color: variable.$BG-003;

      li {
        width: 100px;
        text-align: center;
        margin-bottom: 10px;
        
        // ~li::before {
        //   display: inline-block;
        //   margin-right: 10px;
        //   content: ' ';
        //   width: 1.5px;
        //   height: 10px;
        //   background-color: variable.$LINE-003;
        // }

        button {
          padding: 12px;
          color: variable.$TXT-002;

          &.active {
            font-weight: bold;
            color: variable.$TXT-001;
          }
        }
      }
    }

    .menu-li-wrap {
      display: flex;
      // justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}