@use '/styles/base/variable';
@use '/styles/mixins/position';

.wrap {
  padding: 10px 56px;
  height: 90vh;
  background-color: variable.$BG-003;
  overflow: scroll;

  h1 {
    margin-bottom: 13px;
    font-size: variable.$FS-22;
    font-weight: bold;
    color: variable.$TXT-002;
  }

  .menu-wrap {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 25px;
    background-color: variable.$BG-001;
    border-radius: 10px;

    .tab-wrap {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      column-gap: 10px;
      padding: 0 20px;
      width: 165px;
      text-align: center;
      border-radius: 5px;
      background-color: variable.$BG-003;

      li {
        button {
          padding: 12px;
          font-size: variable.$FS-13;
          color: variable.$TXT-002;

          &.active {
            font-weight: bold;
            color: variable.$TXT-001;
          }
        }
      }
    }

    .menu-li-wrap {
      display: flex;
      column-gap: 2.1%;
      flex-wrap: wrap;
      margin-left: 20px;
      width: 100%;
    }
  }
}