@use '/styles/base/variable';
@use '/styles/mixins/position';

.wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 56px;
  flex: 0 0 100%;
  width: 80vw;
  height: 10vh;
  background-color: variable.$BG-003;

  ul {
    display: flex;
    align-items: center;
    column-gap: 30px;

    li {
      font-size: variable.$FS-14;
      font-weight: bold;
      color: variable.$TXT-001;
    }

    .profile-wrap {
      button {
        display: flex;
        align-items: center;
        column-gap: 10px;

        .img-wrap {
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          overflow: hidden;
          img {
            height: 30px;
            background-color: variable.$BG-007;
          }
        }

        span {
          font-size: variable.$FS-14;
          font-weight: bold;
          color: variable.$TXT-001;
        }
      }
    }

    .alert-wrap {
      button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 30px;
        height: 30px;
        margin: 4px 0 0 -18px;

        &.active::after {
          @include position.absolute(0 0 auto auto);
          display: inline-block;
          content: ' ';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: variable.$ALERT;
        }
      }
    }
  }
}
