@use './variable';
@use '../mixins/position';
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


// font
body,
button,
input,
textarea {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: $FS-14;
  font-weight: $FW-001;
  color: $TXT-001;
  line-height: 1.5;
  box-sizing: border-box;
  font-feature-settings: 'tnum';
}

input[type='number'] {
  font-feature-settings: 'tnum';
}

.wrap {
  background-color: variable.$BG-003;
  padding: 20px;
  height: calc(100vh - 50px);
  overflow: scroll;
}